<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset='utf-8'>
    <title>Atualizar Endereço</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/atualizar_end.css'>
    <script src='../script/atualizar_end.js'></script>
</head>

<body>


    <div class="container">
        <div class="sectionBanner">
            <a href="../index.html" class="btnVoltar">Voltar</a>
        </div>
        <div class="form">
            <div class="aling">
                <div class="title-form">
                    <img class="logoForm"
                        src="https://upload.wikimedia.org/wikipedia/en/thumb/4/47/FC_Barcelona_%28crest%29.svg/1200px-FC_Barcelona_%28crest%29.svg.png"
                        alt="FC Barcelona Logo">
                </div>
                <div class="body-form">
                    <form id="formEditEndereco">
                        <input type="text" id="title" placeholder="Título" class="input" required>
                        <input type="text" id="cep" placeholder="CEP " class="input" required>
                        <input type="text" id="address" placeholder="Endereço" class="input" required>
                        <input type="text" id="number" placeholder="Número" class="input" required>
                        <input type="text" id="complement" placeholder="Complemento" class="input">
                        <button type="submit" class="submit">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>