<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type='text/css' media='screen' href='../css/home.css'>
  <script src="../script/listar_endereco.js"></script>
  <title>Home</title>
</head>

<body>
  <header>

    <img class="logo-barca"
      src="https://upload.wikimedia.org/wikipedia/en/thumb/4/47/FC_Barcelona_%28crest%29.svg/1200px-FC_Barcelona_%28crest%29.svg.png"
      alt="FC Barcelona Logo">


    <a href="endereco.html" class="button-addEnd">Adicione seu endereço</a>

  </header>
  <main>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Address</th>
          <th scope="col">Number</th>
          <th scope="col">Complement</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody id="listaEnderecos">
        
      </tbody>
    </table>
  </main>
</body>

</html>