<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset='utf-8'>
    <title>Login</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/login.css'>
    <script src='../script/login.js'></script>
</head>

<body>


    <div class="container">
        <div class="sectionBanner">
            <a href="../index.html" class="btnVoltar">Voltar</a>
        </div>
        <div class="form">
            <div class="aling">
                <div class="title-form">
                    <img class="logoForm"
                        src="https://upload.wikimedia.org/wikipedia/en/thumb/4/47/FC_Barcelona_%28crest%29.svg/1200px-FC_Barcelona_%28crest%29.svg.png"
                        alt="FC Barcelona Logo">
                    <p class="title">Uneix-te a nosaltres o inicia sessió</p>
                </div>
                <div class="body-form">
                    <form id="registration-form">
                        <input type="email" name="email" id="email" placeholder="Email: " class="input" required>

                        <input type="password" name="password" id="password" placeholder="Senha: " class="input"
                            required>

                        <input type="button" value="Login" onclick="login()">
                        <a href="cadastro.html">Cadastre-se</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>