
:root {
    --corTextoPrincipal: #f7f7f7;
    --corFundo: #181733;
    --corTextoEscuraPrincipal: #202020;
    --coresSecundarias: #0c1d86;
    --coresTerceiras: #2742ab;
    --coresQuartas: #2742ab;
    --coresQuintas: #640333;
    --coresSextas: #8f0b39;
    --coresSetimas: #b62853;
}

:root {
    --fontTextoPrincipal: "Montserrat", sans-serif;
    --fontStyle: normal;
    --fontWeightInicial: 500;
}

body {
    background-image: url('../view/img/imgFundoBarcelona\ Login.jpg');
    color: var(--corTextoPrincipal);
    font-family: var(--fontTextoPrincipal);
    font-style: var(--fontStyle);
    font-weight: var(--fontWeightInicial);
    display: flex;
    background-size: auto ;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

:root {
    --corBordaCard: #202020;
    --corPrincipalCard: transparent;
    --corLetrasCard: #202020
}

.sectionBanner {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url('../view/img/imgFundoBarcelona\ Login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.container{
    background-color: var(--corFundo);
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form{
    background-color: var(--corFundo);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.title-form{
    width: 100%;
    height: 5%;
    text-align: center;
}

.logoForm{
    width: 10%;
    text-align: center;
    position: relative;
    right: 25px;
}

.body-form{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

.input, input[type=date]{
    background-color: transparent;
    border: 1px solid transparent;
    border: 1px solid;
    border-radius: 6px;
    margin: 10px 0;
    padding: 10px 13px;
    color: #f0f0f0;
    background-color: transparent;
    width: 100%;
}

.input::placeholder{
    color: #f0f0f0;
}

input:focus {
    outline: none;
    border: 1px solid transparent;
}

.areaTermo{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 15px 35px;
}

label{
    font-size: 12px;
    margin: 5px;
    color: #f0f0f0;
}

input[type=button]{
    padding: 10px 25px;
    background-color: var(--coresQuartas);
    color: var(--corPrincipal);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 15px;
}

.btnVoltar{
    text-decoration: none;
    color: var(--corTextoPrincipal);
    padding: 8px 15px;
    background-color: var(--coresQuartas);
    border-radius: 5px;
    position: relative;
    left: 15px;
    top: 15px;
    transition: all 2s;
}